@value cateWhole, cateDog, cateCat, cateLizard, cateBird, cateRabbit, cateHamster, cateETC from 'styles/variables.css';
.wrap {
  background: #fbfbfb;
  height: 100%;
  width: 100%;
}

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  padding: 15px 10px;
  width: 100%;
  height: 100px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cate_name {
  position: absolute;
  bottom: 15px;
  left: 40px;
  color: white;
  font-weight: 700;
  font-size: 25px;
}
.cate_whole {
  background-color: cateWhole;
}

.cate_dog {
  background-color: cateDog;
}

.cate_cat {
  background-color: cateCat;
}

.cate_lizard {
  background-color: cateLizard;
}

.cate_bird {
  background-color: cateBird;
}

.cate_rabbit {
  background-color: cateRabbit;
}

.cate_hamster {
  background-color: cateHamster;
}

.cate_etc {
  background-color: cateETC;
}

.dog_container {
  position: absolute;
  right: 30px;
}

.cat_container {
  position: absolute;
  right: 50px;
}

.lizard_container {
  position: absolute;
  right: 0px;
  bottom: -4px;
}

.bird_container {
  position: absolute;
  right: 0px;
}

.rabbit_container {
  position: absolute;
  right: 50px;
}

.hamster_container {
  position: absolute;
  right: 40px;
  bottom: -4px;
}

/*select box*/
.select_container {
  padding: 0px 15px;
  display: flex;
  flex-direction: row-reverse;
}
.select {
  padding: 8px 20px 8px 8px;
  font-size: 10px;
  font-family: pretendard;
  color: #828385;
  border: 0.5px solid #dadada;
  box-shadow: 2px 2px 4px rgba(203, 203, 203, 0.25);
  border-radius: 4px;
  margin: 12px 0;
}

/*thumbnail*/
.thumbnail_row {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  height: 470px;
  overflow: auto;
}
