.wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper h3 {
  color: #373737;
  font-size: 20px;
  margin: 12px;
}
.wrapper p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}
