
.wrapper {
  padding: 140px  16px 100px 16px;
  background-color: #ffffff;
  height: 93vh
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
  width: 100%;
  padding: 75px 32px 20px 32px;
}
.header:before {
  content : "";
  position: absolute;
  bottom  : 0;
  left: 16px;
  height  : 0.5px;
  width   : 90%;  
  text-align: center;
  border-bottom:0.5px solid #e9e9e9;
}
.title > h1 {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-bottom: 4px;
}

.sub-title {
  font-weight: 600;
  font-size: 12px;
}
.img {
  position: relative;
  width: 100px;
  height: 60px;
  margin-right: 12px;
}
.box {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(203, 203, 203, 0.25);
  border-radius: 8px;
  margin-bottom: 16px;
}

.text-container > div{
  margin-bottom: 4px;
  max-width: 200px;
  overflow: hidden;
}

.contents{
  padding: 16px 0px 70px 0px;
}

.icon {
  position: absolute;
  right : 35px;
}

