.wrap {
  padding: 24px 16px;
}
.title {
  font-family: "Pretendard";
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
}
.text_input {
  font-size: 12px;
  font-family: "Pretendard";
  flex-basis: 100%;
  padding: 15px 50px 15px 16px;
  border: 0.5px solid #c1c1c3;
  border-radius: 8px;
}
.text_input::placeholder {
  color: #dadada;
}

/*description*/
.description > textarea {
  width: 100%;
  border: 0.5px solid #c1c1c3;
  border-radius: 8px;
  font-family: pretendard;
  padding: 15px 16px;
  resize: none;
  height: 120px;
  font-size: 12px;
}
.description > textarea::placeholder {
  color: #dadada;
}

.complete {
  position: fixed;
  top: calc(56px / 2);
  transform: translateY(-50%);
  z-index: 1000;
  font-size: 14px;
  color: #eca354;
  font-weight: 600;
}
