.wrap {
  padding: 24px 16px;
}
.link {
  display: flex;
  flex-direction: column;
  position: relative;
}
.title {
  font-family: "Pretendard";
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
}
.text_input {
  font-size: 12px;
  font-family: "Pretendard";
  flex-basis: 100%;
  padding: 15px 50px 15px 16px;
  border: 0.5px solid #c1c1c3;
  border-radius: 8px;
}
.text_input::placeholder {
  color: #dadada;
}

/*description*/
.description > textarea {
  width: 100%;
  border: 0.5px solid #c1c1c3;
  border-radius: 8px;
  font-family: pretendard;
  padding: 15px 16px;
  resize: none;
  height: 120px;
  font-size: 12px;
}
.description > textarea::placeholder {
  color: #dadada;
}

.text_input__fail {
  border: 1px solid #e95733;
}
.text_input__success {
  border: 1px solid #489c5a;
}
.text_input:focus {
  outline: none;
}

.false_link {
  color: #e95733;
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  transform: translate(10%, 100%);
  padding: 0 5px;
  background: linear-gradient(to bottom, var(--bg) 50%, white 50%);
}

.input_icon {
  position: absolute;
  right: 20px;
  top: calc(78px / 2 + 5px);
}
