.wrap {
  padding: 0 16px;
}
.video_name,
.link {
  display: flex;
  flex-direction: column;
}
.title {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 14px;
}
.text_input {
  font-size: 12px;
  font-family: "Pretendard";
  color: #dadada;
  flex-basis: 100%;
  padding: 15px 16px;
  border: 0.5px solid #c1c1c3;
  border-radius: 8px;
}

/*image*/
.thumbnail > div {
  display: flex;
  width: 100%;
}
.preview_row {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.preview_row .preview {
  background-color: #e9e9e9;
  width: 100%;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview_row .preview > div > span {
  font-weight: 500;
  font-size: 10px;
  color: #c1c1c3;
}
.image__icon_row {
  display: flex;
  flex-direction: column;
}
.image__icon_row input {
  display: none;
}
.image_success {
  filter: grayscale(100%);
  opacity: 0.2;
}

/*category*/
.category ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  column-gap: 16px;
  row-gap: 12px;
  margin-bottom: 80px;
}

.category ul li {
  list-style: none;
  padding: 15px 0;
  border: 0.5px solid #dadada;
  /* 그림자 */

  box-shadow: 2px 2px 4px rgba(203, 203, 203, 0.25);
  border-radius: 8px;
  text-align: center;
}
