@value cateWhole, cateDog, cateCat, cateLizard, cateBird, cateRabbit, cateHamster, cateETC from 'styles/variables.css';

.title {
  font-family: "Pretendard";
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
}
/*category*/
.category ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  column-gap: 16px;
  row-gap: 12px;
}

.category__not_selected {
  list-style: none;
  padding: 15px 0;
  border: 0.5px solid #dadada;
  box-shadow: 2px 2px 4px rgba(203, 203, 203, 0.25);
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
}
.category__dog {
  background-color: cateDog;
  color: white;
}
.category__cat {
  background-color: cateCat;
  color: white;
}
.category__rabbit {
  background-color: cateRabbit;
  color: white;
}
.category__hamster {
  background-color: cateHamster;
  color: white;
}
.category__bird {
  background-color: cateBird;
  color: white;
}
.category__lizard {
  background-color: cateLizard;
  color: white;
}

.category__etc {
  background-color: cateETC;
  color: white;
}
.category .title span {
  font-size: 10px;
  padding-left: 4px;
  color: #828385;
}
