.container {
  display: flex;
  position: relative;
  margin-bottom: 16px;
}
.input {
  border: 1.5px solid #dadada;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.input:focus {
  outline: none;
}

.input.err {
  border: 1.5px solid #f17971;
}
.icon {
  z-index: 3;
  position: absolute;
  right: 0;
}

.label {
  position: absolute;
  font-size: 10px;
  transform: translate(24px, -5.5px);
  background-color: white;
  padding: 0px 3px;
  color: #f17971;
  font-weight: 700;
}
.input::placeholder {
  color: #dadada;
}
