.background {
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 75px 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box {
  display: flex;
  padding: 12px 40px;
  font-weight: 500;
  font-size: 10px;
  color: #ffffff;
  background-color: #70c97e;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(203, 203, 203, 0.25);
  animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 
}
.icon {
  margin-right: 5px;
}

.err {
  background-color: #f08970;
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  10%{
    transform: translateY(0);
  }
 
  70%{
    transform: translateY(0);
  } 
  80%{
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(120px);
  }
}