.wrapper {
  min-width: 375px;
  height: 100%;
  text-align: center;
}

.logo {
  position: absolute;
  width: 163px;
  height: 163px;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
  background-color: darkgray;
  border-radius: 50%;
  text-align: center;
  line-height: 163px;
}

.imgSection {
  position: relative;
  width: 100%;
  height: 40%;
}

.formSection {
  width: 100%;
  height: 60%;
}