.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top:0;
  left:0;
  padding :0 16px;
}


.logo {
  position: absolute;
  width: 200px;
  height: 55px;
  top: 50%;
  left : 50%;
  transform: translate(-50%, -50%);
}

.img_section {
  position: relative;
  width: 100%;
  height: 30%;
}

.form_section {
  width: 100%;
  height: 70%;
}

