.wrapper {
  margin: 0px 16px;
}

.img-section {
  position: relative;
  margin-top: 33px;
  margin-bottom: 24px;
  text-align: center;
}

.icon-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 8px;
  background: rgba(81, 81, 81, 0.5);
  left: 50%;
  top: 0px;
  transform: translateX(-36px);
}

.info-section {
  border-top: 0.5px solid #e3e3e3;
  padding: 24px 0px;
}

.first {
  margin-bottom: 16px;
}

.info-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 12px;
}

.box {
  width: 100%;
  padding: 13px 16px;
  background: #ffffff;
  border: 0.5px solid #dadada;
  border-radius: 8px;
}

.box > span {
  font-weight: 400;
  font-size: 10px;
  color: #828385;
}

.box > div {
  font-weight: 500;
  font-size: 12px;
  color: #373737;
}

.nickname {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
