.error{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.error > h2{
  color: #F08970;
  font-size: 20px;
  margin: 12px 0 28px; 
}

.error > p{
  color: var(--gray-800);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}