/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"); */

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--bg);
}

* {
  box-sizing: border-box;

  --primary: #eca354;
  --bg: #fbfbfb;

  --gray-900: #373737;
  --gray-800: #828385;
  --gray-700: #a0a1a5;
  --gray-600: #c1c1c3;
  --gray-500: #dadada;
  --gray-400: #e9e9e9;
  --gray-300: #ffffff;

  --b-gray: 0.5px solid #e9e9e9;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--gray-900);
}

button {
  cursor: pointer;
  border: none;
}

.border-gray {
  border-bottom: var(--b-gray);
  margin: 24px 0;
}

.layout-content {
  padding: 24px 16px;
}

.layout-p {
  padding: 24px 16px;
}

#sub-title {
  margin: 0;
  color: var(--gray-900);
  font-size: 16px;
  font-weight: 600;
}

#loading {
  text-align: center;
  padding-bottom: 20px;
}

#loading > div {
  animation: spin 2s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
