/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"); */

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  --primary: #ECA354;
  --bg: #FBFBFB;
}

.border-gray {
  border-bottom: 0.5px solid #e9e9e9;
  margin: 24px 0;
}
