.wrapper {
  width: 100%;
  height: 100%;
  max-width: 480px;
}

.header {
  max-width: 480px;
  top: 0;
  width: 100%;
  height: 56px;
  box-shadow: 0px 2px 4px rgba(203, 203, 203, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
  position: fixed;
  z-index: 1000; 
  background: #fff;
}
.header>h2{
  font-size: 16px;
  font-weight: 700;
  
}

.nav {
  background-color: white;
  position: fixed;
  max-width: 480px;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 4px rgba(203, 203, 203, 0.25);
}
.nav > ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 8px 34px;
}
.nav > ul > li {
  list-style: none;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items:center ;
}
.upload {
  background: var(--primary);
  padding: 10px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.highlight::after{
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--primary);
  position: absolute;
  bottom: -8px;
}

.back{
  margin: 0;
  width: 16px;
  height: 7px;
  position: fixed;
  top: 20px;
  left: 16px;
  z-index: 1001;
  cursor: pointer;
}