.wrapper {
  max-width: 480px;
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  height: 56px;
  box-shadow: 0px 2px 4px rgba(203, 203, 203, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  transition: 0.6s ease-in-out;
  position: fixed;
 z-index: 1000; 
 background: #fff;
}

.header:active {
  transform: translate(100%);
}

.nav {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 4px rgba(203, 203, 203, 0.25);
}
.nav > ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 8px 34px;
}
.nav > ul > li {
  list-style: none;
  cursor: pointer;
  position: relative;
  display: grid;
  place-items:center ;
}
.upload {
  background: var(--primary);
  padding: 10px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.highlight::after{
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--primary);
  position: absolute;
  bottom: -8px;
}

.main{
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 56px 0;
}