.wrapper {
  margin: 0px 16px;
  height: 100%;
}

.profile-section {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #e9e9e9;
}

.nickname {
  font-weight: 700;
  font-size: 16px;
  color: #373737;
  margin-top: 24px;
  margin-bottom: 4px;
}

.email {
  font-weight: 500;
  font-size: 10px;
  color: #828385;
}

.button {
  margin-top: 16px;
  width: 135px;
  height: 36px;
  border: none;
  border-radius: 8px;
  background: #eca354;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}

.video-section {
  padding-top: 26px;
  height: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.title {
  font-weight: 700;
  font-size: 14px;
  color: #373737;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
  justify-items: center;
  /* height를 px말고 작업할 수 있는 방법 없는지?*/
  height: 300px;
}

.video{
  width: 100%;
  height: 100%;
  background-color: lightgray;
  text-align: center;
}

.video > li {
  height: 100%;
}
